---
---

@import "{{ site.theme }}";

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
}

.page-header {
  background-image: none;
  background-color: white;
  padding: 16px;
}

.site-footer {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
