<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

    {% if site.title %}
    <title>{{ site.title }}</title>
    {% endif %}
    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <link rel="icon" href="/assets/images/favicon.ico" type="image/icon">

    {% if page.redirect %}
      <meta http-equiv="Refresh" content="0; url={{ page.redirect }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="/">
        <img id="logo" src="/Isabelle.jpg" alt="Isabelle logo" />
      </a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
